#wrapper {
	width: 200px;
	margin: 0 auto;
	position: relative;
}

.slide {
	background: #666;
	color: #fff;
	height: 200px;
	width:  200px;
	
	position: absolute;
	top: 0;
	left: 0;
}

#controls {
	position: absolute;
	top: 300px;
}